#video_container {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

html, body, div#root{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #131313;
    color: white;
}

.remote_video {
    max-height: 100%;
    max-width: 100%;
    /*flex-basis: 0;*/
    flex-shrink: 1;
    flex-grow: 1;
}

#local_video {
    position: fixed;
    right: 0;
    top: 0;
    width: 10em;
}

#button_container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

#disconnect:hover {
    background-color: red;
}

#toggle_video:hover {
    background-color: cyan;
}

#screenCapture:hover {
    background-color: green;
}

button {
    border-radius: 50px;
    border: 2px solid white;
    height: 80px;
    /*width: 80px;*/
    background-color: transparent;
    color: white;
    cursor: pointer;
}
